body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}
h1 {
    margin-bottom: 0;
}
h2 {
    font-style: italic;
    font-size: 1.5em;
    background-color: #f0e6f5;
    padding: 0.25em 0.5em;
}
em {
    font-style:  normal;
}
strong {
    font-weight: normal;
}
h3 {
    border-bottom: 1px solid;
    padding-bottom: 0.25em;
}
h2, h3, h4 {
    color: #99007f;
}
ul {
    list-style-type: square;
}

.introduction {
    font-size: 1.5em;
    color: #72005f;
    font-style: italic;
}

a:link {
    color: #660099;
}

a:visited {
    color: #876399;
}

a:hover {
    color: #339900;
}

label, input, textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.form-control {
    width: 30em;
    margin-bottom: 1em;
}

textarea {
    min-height: 10em;
}

.form-control input, .form-control textarea {
    padding: 0.5em;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #D9EECE;
    border-width: 1px 0 0;
    border-color: #4c0072;
    border-style: solid;
    display: flex;
}

.navigation a {
    text-decoration: none;
    color: #226800;
    font-weight: bold;
    display: block;
    padding: 0.75em 1em;
}

.navigation a:hover {
    background-color: #C4E8B1;
}

